<div class="body-content">


    <!-- Example row of columns -->
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">疾病</a></li>
            <li class="active">编辑页面</li>
             
        </ol>
    </div>
    <div class="row">
       <form role="form">
            <div class="form-group">
                <label for="codeNameCh" class="col-lg-2">编码名称:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="level0" name="codeNameCh"
                           ng-model="queryDiseaseOne.icdDisease.codeNameCh"/>
                </div>
            </div>
           <div class="form-group">
                <label for="icdCode" class="col-lg-2">编码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="level0" name="icdCode"
                           ng-model="queryDiseaseOne.icdDisease.icdCode"/>
                </div>
            </div>
           <div class="form-group">
                <label for="swordCode" class="col-lg-2">剑号编码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="level0" name="swordCode"
                           ng-model="queryDiseaseOne.icdDisease.swordCode"/>
                </div>
            </div>
           <div class="form-group">
                <label for="starCode" class="col-lg-2">星号编码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="level0" name="starCode"
                           ng-model="queryDiseaseOne.icdDisease.starCode"/>
                </div>
            </div>
           <div class="form-group">
                <label for="page" class="col-lg-2">页码:</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="level0" name="page"
                           ng-model="queryDiseaseOne.icdDisease.page"/>
                </div>
            </div>
           <div class="form-group">
                <label for="codeType" class="col-lg-2">编码类型:</label>
                <div class="col-lg-10">
                    <select class="form-control" ng-model="queryDiseaseOne.icdDisease.codeType">
                        <option value="章">章</option>
                        <option value="节">节</option>
                        <option value="类目">类目</option>
                        <option value="亚目">亚目</option>
                        <option value="包含">包含</option>
                        <option value="组">组</option>
                        <option value="组2">组2</option>
                        <option value="细目">细目</option>
                    </select>
                </div>
            </div>
           <div class="form-group">
                <label for="noteCh" class="col-lg-2">注释:</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" ng-model="queryDiseaseOne.icdDisease.noteCh">{{queryDiseaseOne.icdDisease.noteCh}}</textarea>
                </div>
            </div>
           <div class="form-group">
                <div class="col-lg-12 btn-group">
                    <button type="button" class="btn btn-large btn-primary" ng-click="editDiseaseOne(queryDiseaseOne.icdDisease)" >&nbsp;&nbsp;保存&nbsp;&nbsp;    </button>
                </div>
            </div>
       </form>
        
        <hr/> 
        
    </div>
     
</div>