<div class="container">
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-2">     <!-- Left Region -->
            <div>
                <table class="table table-hover">
                    <tr ng-class="{success: diseaseicd.active}" ng-repeat="diseaseicd in diseaseicdList" ng-click="diseaseicdSelect(diseaseicd)">
                        <td>{{ diseaseicd.title }}</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="col-lg-10">
            <div class="container" ui-view>

            </div>
        </div>
    </div>
    <script type="text/ng-template" id="diseaseOne_noIncludeEdit.html">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                       <!-- <ol class="breadcrumb">
                            <li><a href="#">疾病</a></li>
                            <li class="active">编辑页面-不包括</li>

                        </ol>-->
                    </div>
                    <div class=model-body>
                        <div class="body-content">
                        <!-- Example row of columns -->
                        <div class="row">
                           <form role="form" class="form-horizontal">
                               
                                    <div class="form-group">
                                        <label for="relationContentCh" class="col-lg-3 control-label">名称:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="relationContentCh" name="relationContentCh"
                                                   ng-model="currentDiseaseRelation.relationContentCh"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="referenceCode" class="col-lg-3 control-label">参照编码:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="referenceCode" name="referenceCode"
                                                   ng-model="currentDiseaseRelation.referenceCode"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label for="referenceCodeFull" class="col-lg-3 control-label">参照编码(全):</label>
                                         <div class="col-lg-6">
                                             <input type="text" class="form-control" id="referenceCodeFull" name="referenceCodeFull"
                                                    ng-model="currentDiseaseRelation.referenceCodeFull"/>
                                         </div>
                                     </div>
                           </form>
                        </div>
                    </div>
                    </div>

                    <div class="model-footer">
                        <button class="btn btn-success" ng-click="save(currentDiseaseRelation)" >确认</button>
                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="diseaseOne_nextEdit.html">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                       <!-- <ol class="breadcrumb">
                            <li><a href="#">疾病</a></li>
                            <li class="active">编辑页面--</li>

                        </ol>-->
                    </div>
                    <div class=model-body>
                        <div class="body-content">
                        <!-- Example row of columns -->
                        <div class="row">
                           <form role="form" class="form-horizontal">
                               
                                    <div class="form-group">
                                        <label for="codeNameCh" class="col-lg-3 control-label">名称:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="codeNameCh" name="codeNameCh"
                                                   ng-model="nextDisease.codeNameCh"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="swordCode" class="col-lg-3 control-label">剑号编码:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="swordCode" name="swordCode"
                                                   ng-model="nextDisease.swordCode"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label for="starCode" class="col-lg-3 control-label">星号编码:</label>
                                         <div class="col-lg-6">
                                             <input type="text" class="form-control" id="starCode" name="starCode"
                                                    ng-model="nextDisease.starCode"/>
                                         </div>
                                     </div>
                           </form>
                        </div>
                    </div>
                    </div>

                    <div class="model-footer">
                        <button class="btn btn-success" ng-click="save(nextDisease)" >确认</button>
                        <button class="btn btn-warning" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="diseaseOne_edit.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-header">
                    <ol class="breadcrumb">
                        <li><a href="#">疾病</a></li>
                        <li class="active">编辑页面</li>

                    </ol>
                </div>
                <div class=model-body>
                    <div class="body-content">


                    <!-- Example row of columns -->
                     
                       <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="codeNameCh" class="col-lg-2">编码名称:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="codeNameCh" name="codeNameCh"
                                           ng-model="currentDisease.codeNameCh"/>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="icdCode" class="col-lg-2">编码:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="icdCode" name="icdCode"
                                           ng-model="currentDisease.icdCode"/>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="swordCode" class="col-lg-2">剑号编码:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="swordCode" name="swordCode"
                                           ng-model="currentDisease.swordCode"/>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="starCode" class="col-lg-2">星号编码:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="starCode" name="starCode"
                                           ng-model="currentDisease.starCode"/>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="page" class="col-lg-2">页码:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="page" name="page"
                                           ng-model="currentDisease.page"/>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="codeType" class="col-lg-2">编码类型:</label>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-model="currentDisease.codeType">
                                        <option value="章">章</option>
                                        <option value="节">节</option>
                                        <option value="类目">类目</option>
                                        <option value="亚目">亚目</option>
                                        <option value="包含">包含</option>
                                        <option value="组">组</option>
                                        <option value="组2">组2</option>
                                        <option value="细目">细目</option>
                                    </select>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="noteCh" class="col-lg-2">注释:</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" rows="5" ng-model="currentDisease.noteCh">{{currentDisease.noteCh}}</textarea>
                                </div>
                            </div>
                       </form>

                        <hr/> 

                     

                </div>
                </div>

                <div class="model-footer">
                    <button class="btn btn-success" ng-click="editDiseaseOne(currentDisease)" >确认</button>
                    <button class="btn btn-warning" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>


    </script>
</div>